/* add San Francisco Font, if its installed

put  

body {
    font-family: Whitney;
}

in custom css to disable

*/
body {
    font-family: SF Pro Display, Whitney;
}

/* remove the little gradient left from the chatbox */
.form-2fGMdU:before {
    height: 0;
    width: 0;
}

.theme-dark .members-1998pB, .members-1998pB>div {
    background-color: var(--primary);
}
.container-3w7J-x {
    background-color: var(--primary);
}

/* avatar card in the "my account" settings page */
div.background-1QDuV2 {
    background-color: var(--secondary-alt);
}
div.fieldList-21DyL8 {
    background-color: var(--secondary);
}

/* selection things with radio buttons, mostly seen in the settings */
div.radioBar-bMNUI- {
    background-color: var(--secondary);
}

/* plugins and theme cards from betterdiscord 1.0 (currently in beta as of 6. january 2021) */
div.bd-addon-header {
    background-color: var(--secondary-alt) !important;
}
div.bd-description-wrap, div.bd-footer {
    background-color: var(--secondary);
}

/* login box (for when you are logged out) */
form.authBoxExpanded-2jqaBe.authBox-hW6HRx.theme-dark {
    background-color: var(--primary);
}

/* invitation screen */
div.scroller-3__pG8.da-scroller.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

/* buttons and search bar in the friends section */
div.actionButton-uPB8Fs {
    background-color: var(--secondary);
}
/* hover */
div.peopleListItem-2nzedh:hover .actionButton-uPB8Fs {
    box-shadow: none;
    background-color: var(--secondary-alt);
}
div.inner-2P4tQO {
    background-color: var(--secondary);
}

/* footer in several dialogs (like the "pin message" or screen share dialog) */
div.flex-1xMQg5.flex-1O1GKY.da-flex.horizontalReverse-2eTKWD {
    background-color: var(--secondary);
}

/* server screen share and camera buttons  */
button.button-1YfofB.buttonColor-7qQbGO {
    background-color: var(--primary);
}

/* promotion cards in the discord nitro page and  */
li.feature-2w65J5.da-feature, div.promotionBanner-1fCSab.da-promotionBanner.banner-WELp4M.da-banner {
    background-color: var(--secondary);
}

/* connect your accounts in settings */
div.accountList-33MS45.da-accountList {
    background-color: var(--secondary);
}
button.inner-2Y6JuD.da-inner.accountBtnInner-sj5jLs.da-accountBtnInner {
    background-color: var(--secondary-alt);
}

/* authorized apps */
div.authedApp-mj2Hmd.da-authedApp.marginBottom8-AtZOdT.da-marginBottom8.cardPrimaryOutline-29Ujqw.card-3Qj_Yx.da-cardPrimaryOutline.da-card {
    background-color: var(--secondary);
}

/* 2 factor auth and captcha page */
.authBox-hW6HRx.theme-dark {
    background-color: var(--primary);
}

/* inbox */
div.header-2-Imhb.header-ykumBX {
    background-color: var(--secondary);
}

div.scroller-tlc3kG.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

div.button-1-5Aqk.secondary-dIudih {
    background-color: var(--secondary-alt);
}
div.channelHeader-3Gd2xq {
    background-color: var(--secondary);
}
div.messageContainer-gbhlwo {
    background-color: var(--secondary-alt);
}
div.closeButton-1152MI.button-1-5Aqk.tertiary-aMXF0g {
    background-color: var(--secondary-alt);
}
div.messages-3G3erD {
    background-color: var(--secondary-alt);
}

/* little profile card */
div.body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--primary);
}

/* "replying to" overlay */
div.container-2fRDfG {
    background-color: var(--secondary-alt);
}


/* search page */
 div.searchHeader-2XoQg7 {
    background-color: var(--primary);
}
div.scroller-3GIiMh.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

/* channel name */
span.channelName-1JRO3C {
    background-color: var(--primary);
}

/* main message unexpanded */
div.searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: var(--primary);
}

/* fix the gradient at the top and bottom, cant get it fixed at the middle/main message */
.searchResult-9tQ1uo:before, .searchResult-9tQ1uo:after {
    background-image: linear-gradient(0deg,transparent,var(--primary));
}

/* messages are expanded */
.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: var(--primary);
}
.searchResult-9tQ1uo.expanded-w_LCGl {
    background-color: var(--secondary);
}

/* new search page */
/* search header */
div.da-searchHeader {
    background-color: var(--secondary-alt);
}
/* main message */
div.message-1Ng5AR.da-message {
    background-color: var(--primary);
}
/* channel name */
div.da-channelName {
    background-color: var(--secondary);
}
/* search background */
div.scroller-3GIiMh.da-scroller.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--secondary);
}
/* new, old, relevant buttons */
div.tab-2j5AEF.da-tab.selected-2LAck8.da-selected {
   background-color: var(--primary);
}

/* "jump to new messages" button */
div.da-jumpToPresentBar.da-barBase {
    background-color: var(--secondary-alt);
}

div.da-tooltip.da-tooltipDisablePointerEvents.da-listItemTooltip {
    background-color: var(--secondary-alt);
}

/* empty card in activity thing */
div.emptyCard-1RJw8n {
    background-color: var(--secondary);
}
/* currently selected text channel */
div.modeSelected-346R90 > div.content-1x5b-n.da-content {
    background-color: var(--secondary);
}
/* hovering text channels */
div.iconVisibility-sTNpHs.da-iconVisibility.wrapper-2jXpOf.da-wrapper:hover > div.content-1x5b-n.da-content:hover {
    background-color: var(--secondary-alt);
}

/* discord icon at the top left (also themes my "read all" button, added by a plugin */
.childWrapper-anI2G9 {
    background-color: var(--primary);
}

/* unreads background */
div.container-3u944p {
    background-color: var(--primary);
}