/* hover over message stuff */
div.cozyMessage-3V1Y8y:hover {
    background-color: #12131698;
}



/* remove the little gradient left from the chatbox */
.form-2fGMdU:before {
    height: 0;
    width: 0;
}

.theme-dark .members-1998pB, .members-1998pB>div {
    background-color: var(--primary);
}
.container-3w7J-x {
    background-color: var(--primary);
}

/* my account" settings page */
/* avatar card */
div.background-1QDuV2 {
    background-color: var(--secondary-alt);
}
div.fieldList-21DyL8 {
    background-color: var(--secondary);
}
/* "edit" buttons */
button.fieldButton-27bJrp.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: var(--secondary-alt);
}

/* selection things with radio buttons, mostly seen in the settings */
div.radioBar-bMNUI- {
    background-color: var(--secondary);
}

/* plugins and theme cards from betterdiscord 1.0 (currently in beta as of 6. january 2021) */
div.bd-addon-header {
    background-color: var(--secondary-alt) !important;
}
div.bd-description-wrap, div.bd-footer {
    background-color: var(--secondary);
}

/* login box (for when you are logged out) */
form.authBoxExpanded-2jqaBe.authBox-hW6HRx.theme-dark {
    background-color: var(--primary);
}

/* invitation screen */
div.scroller-3__pG8.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

/* buttons and search bar in the friends section */
div.actionButton-uPB8Fs {
    background-color: var(--secondary);
}
/* hover */
div.peopleListItem-2nzedh:hover .actionButton-uPB8Fs {
    box-shadow: none;
    background-color: var(--secondary-alt);
}
div.inner-2P4tQO {
    background-color: var(--secondary);
}

/* footer in several dialogs (like the "pin message" or screen share dialog) */
div.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD, div.flex-1xMQg5.footer-2gL1pp {
    background-color: var(--secondary);
}

/* server screen share and camera buttons  */
button.button-1YfofB.buttonColor-7qQbGO {
    background-color: var(--primary);
}

/* promotion cards in the discord nitro page and  */
li.feature-2w65J5, div.promotionBanner-1fCSab.banner-WELp4M {
    background-color: var(--secondary);
}

/* account connections widgets */
div.accountList-33MS45 {
    background-color: var(--secondary);
}
button.inner-2Y6JuD.accountBtnInner-sj5jLs {
    background-color: var(--primary);
}

div.connectionHeader-2MDqhu {
    background-color: var(--secondary);
}
div.connectionOptionsWrapper-3KIj1Z {
    background-color: var(--secondary-alt);
}



/* authorized apps */
div.authedApp-mj2Hmd.marginBottom8-AtZOdT.cardPrimaryOutline-29Ujqw.card-3Qj_Yx {
    background-color: var(--secondary);
}

/* 2 factor auth and captcha page */
.authBox-hW6HRx.theme-dark {
    background-color: var(--primary);
}

/* inbox */
div.header-2-Imhb.header-ykumBX {
    background-color: var(--secondary);
}

div.scroller-tlc3kG.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

div.button-1-5Aqk.secondary-dIudih {
    background-color: var(--secondary-alt);
}
div.channelHeader-3Gd2xq {
    background-color: var(--secondary);
}
div.messageContainer-gbhlwo {
    background-color: var(--secondary-alt);
}
div.closeButton-1152MI.button-1-5Aqk.tertiary-aMXF0g {
    background-color: var(--secondary-alt);
}
div.messages-3G3erD {
    background-color: var(--secondary-alt);
}

/* little profile card */
div.body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--primary);
}

/* reply bar */
div.replyBar-1YLQ2F {
    background-color: var(--secondary-alt);
}
div.clipContainer-eeROt0 {
    background-color: var(--primary);
}
/* jump to present messages bar */
div.jumpToPresentBar-G1R9s6.barBase-1c2Rfb {
    background-color: var(--secondary-alt);
}


/* search page */
 div.searchHeader-2XoQg7 {
    background-color: var(--primary);
}
div.scroller-3GIiMh.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

/* channel name */
span.channelName-1JRO3C {
    background-color: var(--primary);
}

/* main message unexpanded */
div.searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: var(--primary);
}

/* fix the gradient at the top and bottom, cant get it fixed at the middle/main message */
.searchResult-9tQ1uo:before, .searchResult-9tQ1uo:after {
    background-image: linear-gradient(0deg,transparent,var(--primary));
}

/* messages are expanded */
.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    background-color: var(--primary);
}
.searchResult-9tQ1uo.expanded-w_LCGl {
    background-color: var(--secondary);
}

/* new search page */
/* search header */
div.searchHeader-2XoQg7 {
    background-color: var(--secondary-alt);
}
/* main message */
div.message-1Ng5AR {
    background-color: var(--primary);
}
/* search background and channel name */
div.scroller-3GIiMh.thin-1ybCId.scrollerBase-289Jih, div.channelName-1JRO3C {
    background-color: var(--secondary);
}
/* new, old, relevant buttons */
div.tab-2j5AEF.selected-2LAck8 {
    background-color: var(--primary) !important;
}
div.tab-2j5AEF:hover {
    background-color: var(--primary) !important;
}

/* empty card in activity thing */
div.emptyCard-1RJw8n {
    background-color: var(--secondary);
}

/* discord icon at the top left (also themes my "read all" button, added by a plugin */
.childWrapper-anI2G9 {
    background-color: var(--primary);
}

/* unreads background */
div.container-3u944p {
    background-color: var(--primary);
}

/* screen share selection stuff */
div.card-2Mz_4z {
    background-color: var(--secondary);
}
button.changeButton-278ZT6 {
    background-color: var(--primary) !important;
}
button.changeButton-278ZT6:hover {
    background-color: var(--background-secondary-alt) !important;
}
button.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--primary) !important;
}
button.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--background-secondary-alt) !important;
}
button.item-3T2z1R.selectorButton-EEUWed {
    background-color: var(--secondary) !important;
}
button.item-3T2z1R.selectorButton-EEUWed:hover {
    background-color: var(--background-secondary-alt) !important;
}
button.item-3T2z1R.selectorButtonSelected-t5V9On {
    background-color: var(--accentcolor) !important;
}

/* mention autofill thing (its over the chatbox when you type @) */
div.divider-23swzi {
    background-color: var(--secondary) !important;
}
/* selected autofill thing */
div.selectable-3dP3y-.selected-1Tbx07 {
    background-color: var(--secondary-alt) !important;
}

/* currently selected text channel */
div.modeSelected-346R90 > div.content-1x5b-n {
    background-color: var(--secondary) !important;
}
/* hovering text channels */
div.iconVisibility-sTNpHs.wrapper-2jXpOf:hover > div.content-1x5b-n:hover {
    background-color: var(--secondary-alt) !important;
}

/* currently selected voice channel */
 div.voiceUser-1K6Xox.selected-3t3Csj > div.content-1Wq3SX {
    background-color: var(--secondary-alt) !important;
}
/* hovering voice channels */
div.draggable-2E_4tJ:hover, div.voiceUser-1K6Xox:hover, div.content-1Wq3SX:hover, div.voiceUser-1K6Xox:hover > div.content-1Wq3SX:hover {
    background-color: var(--secondary) !important;
}

/* loading messages thing */
div.wrapper-3vR61M {
    background-color: var(--primary);
}
  div.wrapper-1F5TKx.cozy-12kSNU {
    background-color: var(--primary);
}

/* gif and emoji panel */
/* main panel */
div.contentWrapper-SvZHNd {
    background-color: var(--primary);
}
/* gif and emoji button */
button.navButton-2gQCx-.button-38aScr {
    background-color: var(--primary);
}
/* gif and emoji button but pressed */
button.navButton-2gQCx-.button-38aScr.navButtonActive-1MkytQ {
    background-color: var(--secondary);
}
/* emoji tab search bar */
div.inner-3ErfOT.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--secondary);
}
/* heading for grouped server emojis */
div.wrapper-1-Fsb8.header-ywPcAE, div.wrapper-1-Fsb8.packHeader-NLJ7S5 {
    background-color: var(--primary);
}
/* emoji preview bar at the bottom */
div.inspector-S2gM3e.inspector-3LQtX9, div.inspector-S2gM3e {
    background-color: var(--secondary);
}
/* emoji tab left sidebar with server icons */
div.scroller-3gAZLs.list-donH_Z.scrollerBase-289Jih {
    background-color: var(--secondary);
}
/* unicode shortcut / switch to normal emojis */
div.unicodeShortcut-15J8Ck {
    background-color: var(--secondary-alt);
}
/* skin color selector */
div.diversitySelectorPopout-3FiGaM {
    background-color: var(--secondary);
}
/* same thing but when reacting to a message */
/* top bar */
div.header-8ilj5e {
    background-color: var(--primary);
}
/* main background */
div.scroller-3gAZLs.list-6NCENv.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--primary);
}

/* scrollbar for messages */
div.messagesWrapper-1sRNjr.group-spacing-16 ::-webkit-scrollbar-track {
  background-color: var(--primary) !important;
}
div.messagesWrapper-1sRNjr.group-spacing-16 ::-webkit-scrollbar-thumb {
  background-color: var(--secondary) !important;
}
/* scrollbar in textbox */
div.channelTextArea-rNsIhG.channelTextArea-2VhZ6z ::-webkit-scrollbar-thumb {
  background-color: var(--secondary-alt) !important;
}

/* command autocompletion thing */
div.scroller-3gAZLs.list-donH_Z.scrollerBase-289Jih {
  background-color: var(--secondary-alt);
}
div.wrapper-1-Fsb8.categoryHeader-O1zU94 {
  background-color: var(--secondary);
}
div.bar-AokMp3 {
  background-color: var(--secondary);
}

/* gift nitro email adress and payment option  */
div.table-39R0Oe.invoice-28DmWy, div.select-2fjwPw.lookFilled-22uAsw {
  background-color: var(--secondary);
}
/* join/create server button and explore */
div.circleIconButton-jET_ig {
  background-color: var(--secondary);
}
/* opened folder icon and background */
span.expandedFolderBackground-2sPsd-, div.expandedFolderIconWrapper-1xLaU- {
  background-color: var(--secondary);
}

/* create server */
button.container-UC8Ug1 {
  background-color: var(--secondary);
}
div.text-1FOLJS, div.title-3w8xhj, div.optionHeader-1-5lcp, div.footerTitle-2CYZch, div.title-LqAd9K, button.backButton-iA7KIs>div.contents-18-Yxp, div.skip-2o6MGG, div.title-Z_XiOC {
    color: white
  }
  
/* join server */
div.inputWrapper-31_8H8.input--jS-j2 {
  background-color: var(--secondary);
}
div.title-XLSR78, input.inputDefault-_djjkz.input-cIJ7To, div.sampleLink-2NLvZg {
  color: white
}

/* if plugin updated a popup shows up, this is the code of the bottom bar which has a little bit darker color */
div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp {
    background-color: var(--secondary);
}

/* little popout */
div.themedPopout-1TrfdI {
    background-color: var(--primary);
}
/* input box on the popout */
input.inputDefault-_djjkz.input-cIJ7To {
    background-color: var(--secondary);
}

/* screen share feedback/error reporting */
div.option-3Ztn6N {
    background-color: var(--secondary);
}

/* reaction overview popup */
div.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--secondary);
}
div.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--primary);
}
div.reactionSelected-1pqISm {
    background-color: var(--secondary-alt) !important;
}

/* # icon on the beginning of a channel */
div.emptyChannelIcon-cc932w {
    background-color: var(--secondary);
}

/* accept rules popup */
div.guildSidebar-2OCzWB {
    background-color: var(--secondary);
}
div.modalContent-1iyOR2 {
    background-color: var(--primary);
}
div.formFieldWrapper-malor5.wrapperBase-x09xGp {
    background-color: var(--secondary);
}


/* sidebar, server list background */
.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
    background-color: var(--secondary-alt);
}


/* code files embedded and popup */
/* dirty, might fix later */
div.container-1pMiXm,
div.textContainer-C0szpm,
div.colorHeaderSecondary-3Sp3Ft.footer-2yA7Ep,
code.codeView-1JPDeA,
code.scrollbar-3dvm_9 {
    background-color: var(--secondary);
}

/* home page sidebar, friend activity */
div.scroller-2ZPeAD.thin-1ybCId.scrollerBase-289Jih  {
    background-color: var(--primary);
}
section.section-2gLsgF {
    background-color: var(--secondary-alt);
}

/* game overlay position selection (inactive) */
label.option-n0icdO {
    background-color: var(--secondary-alt);
}

/* subscription information */
div.detailsBlock-FoDTGA {
    background-color: var(--secondary);
}

/* transaction history - billing settings page */
div.paymentPane-3bwJ6A.verticalFit-waKLYN, div.bottomDivider-1K9Gao.thin-1ybCId.scrollerBase-289Jih, div.hoverablePayment-Yc6mK7, div.pageActions-1SVAnA {
    background-color: var(--secondary) !important;
}
div.bottomDivider-1K9Gao.thin-1ybCId.scrollerBase-289Jih:hover, div.hoverablePayment-Yc6mK7:hover {
    background-color: var(--secondary-alt) !important;
}

/* new role ui */
/* default permissions button in server settings */
div.container-_phMUq {
    background-color: var(--secondary);
}
div.container-_phMUq:hover {
    background-color: var(--secondary-alt);
}

/* hover on overview role list */
div.roleRow-30TwGe:hover {
    background-color: var(--secondary-alt) !important;
}

/* when editing role, background on the "back" button */
div.titleContainer-2CXtJo.titleElevated-c_kdi7 {
    background-color: var(--primary);
}
div.header-2mZ9Ov.stickyHeader-hH_ZLl {
    background-color: var(--primary);
}

/* emoji popups */
div.emojiSection-3Fb9ix {
    background-color: var(--secondary);
}
div.guildSection-1EoFKd {
    background-color: var(--secondary-alt);
}

/* server boost popup */
div.iconWrapper-3LVgIo {
    background-color: var(--secondary-alt) !important;
}
div.upsellFooter-3coAfO {
    background-color: var(--secondary);
}

/* profile card (maximized profile popup) */
div.topSection-y3p-_D {
    background-color: var(--secondary);
}
div.body-r6_QPy {
    background-color: var(--primary);
}

/* threads */
/* sidebar */
div.threadSidebar-1o3BTy {
    background-color: var(--secondary-alt);
}
div.iconWrapper-L3hQuc {
    background-color: var(--primary);
}
div.chatHeaderBar-4vZS1x.narrow-1f-G-z {
    background-color: var(--secondary);
}
/* in-chat notice */
div.container-3hZ-gs {
    background-color: var(--secondary);
}
/* popup */
div.tab-PQvTH4.active-30vPlA.selected-3s45Ha {
    background-color: var(--primary) !important;
}
div.header-1VS4tm, div.container-2I9Hud {
    background-color: var(--secondary-alt);
}
div.list-wek7hJ {
    background-color: var(--secondary);
}

/* member list */
.container-2wlB3z {
    background-color: var(--primary);
}
